img {
    width: 80%;
    height: 30vh;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
           
.logo {
    width: 100%;
    height: 30vh;
}


h3 { text-decoration: none;
    color: black;}
h4 { text-decoration: none;
    color: black;}
p { color: rgb(0, 0, 0);
    text-decoration: none;
}

footer{
    background-color: rgb(71, 69, 69);
    color: white;
}

.footer_menu{
    color: white;
}
.footer_menu-b{
    color: white;
}