/* logo */
.logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
        width: 50vw;
        @include desktop {
            width: 30vw;
        }
    }
    @include desktop {
        max-width: 1200px;
    }
}

/* Rajout icône "retour" */
.home_arrow {
    font-size: 5vw;
    position: absolute;
    top: 15px;
    margin-left: 30px;
    @include both {
        font-size: 3vw;
        top: 30px;
    }
}
