/* Variables Couleurs */
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-form: rgb(234, 234, 234);
$colour-shadow: rgb(212, 212, 212);
$colour-localisation:rgb(75, 75, 75);
$colour-backgroundintro: rgb(246, 246, 246);
$colour-bouton: linear-gradient(to left top, $colour-primary, $colour-secondary);
$colour-btnfont: white;
$colour-nouveau: darken($colour-tertiary, 50%);
$colour-footer: rgb(53, 53, 53);
$colour-fonctionnement-hover: rgb(245, 237, 255);